<div class="px-4 py-80 md:px-6 lg:px-5">
	<div class="grid">
		<div class="col-12 md:col-12 lg:col-12">
			<div class="surface-card shadow-1 p-3 border-round">
				<p-toolbar styleClass="mb-4">
					<ng-template pTemplate="left">
						<h2>Tableau des gains</h2>
					</ng-template>
					<ng-template pTemplate="right">
						<form [formGroup]="limiteForm"
							  (ngSubmit)="recupererDonneesFiltre()">
							<span class="p-input-icon-left">
								<span class="mr-2">Limite</span>
								<input formControlName="limite"
									   class="text-right"
									   style="width:40% ;"
									   pInputText type="text"
									   maxlength="9"
									   [(ngModel)]="limiteCourrente"
									   (keydown)="controleDeSaisir($event)">
								<button pButton pRipple type="submit"
										[disabled]="limiteForm.invalid"
										icon="pi pi-check"
										class="p-button-raised">
								</button>
								<div class="text-danger" *ngIf="(
								limiteForm.get('limite').dirty ||
								limiteForm.get('limite').touched
							   ) &&
							   limiteForm.get('limite').invalid">
									La limite doit être supérieure à 50 000 kz
								</div>
						    </span>
						</form>
						<button [disabled]="bilanGains &&
						        bilanGains.length==0"
								type="button" pButton
								pRipple icon="pi pi-file-excel"
								(click)="exportExcel()"
								class="p-button-success mr-2"
								pTooltip="Export XLSX"
								tooltipPosition="bottom">
						</button>
						<button [disabled]="bilanGains &&
						        bilanGains.length==0"
								type="button" pButton
								pRipple icon="pi pi-file"
								(click)="exportCSV()"
								class="p-button-warning mr-2"
								pTooltip="Export CSV"
								tooltipPosition="bottom">
						</button>
					</ng-template>
				</p-toolbar>
				<p-table sortField="staffCreatorGroupName"
						 [value]="bilanGains"
						 [paginator]="true"
						 [rows]="20"
						 currentPageReportTemplate="De {first} à {last} sur {totalRecords} lignes"
						 [showCurrentPageReport]="true"
						 responsiveLayout="scroll"
						 styleClass="p-datatable-gridlines"
						 [resizableColumns]="true"
						 [loading]="loading"
						 [rowsPerPageOptions]="[20,30,40,50]"
						 selectionMode="multiple"
						 exportFilename="rapport-bilan-gain">
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="staffCreatorGroupName"
								[style]="{fontSize:'14px',color:'#e77844',
								background: 'rgb(231 120 68 / 10%)'}">
								<div class="text-center">
									Point de vente
								</div>
								<div class="text-center">
									<p-sortIcon field="staffCreatorGroupName"></p-sortIcon>
								</div>
							</th>
							<th pSortableColumn="nombreGainsSuperieur"
								[style]="{fontSize:'14px',color:'#2196F3',
								background:'rgb(33 150 243 / 10%)'}">
								<div class="text-center">
									Nombre de gains > {{ limite }}
								</div>
								<div class="text-center">
									<p-sortIcon field="nombreGainsSuperieur"></p-sortIcon>
								</div>
							</th>
							<th pSortableColumn="totalGainsSuperieur"
								[style]="{fontSize:'14px',color:'#f1749e',
								background:'rgb(241 116 158 / 10%)'}">
								<div class="text-center">
									Total des gains > {{ limite }}
								</div>
								<div class="text-center">
									<p-sortIcon field="totalGainsSuperieur"></p-sortIcon>
								</div>
							</th>
						</tr>
						<tr>
							<th class="lageur-colonne">
								<p-columnFilter [showClearButton]="false"
												type="text"
												field="staffCreatorGroupName"
												matchMode="contains"
												pTooltip="Options de filtrage">
									<ng-template pTemplate="filter"
												 let-filter="filterCallback"
												 let-value="$implicit">
										<input type="text" #valeur class="p-2 border"
											   maxlength="20"
											   [value]="value"
											   pInputText
											   (input)="filter(valeur.value)">
									</ng-template>
								</p-columnFilter>
							</th>
							<th class="lageur-colonne">
								<p-columnFilter [showClearButton]="false"
												type="text"
												field="nombreGainsSuperieur"
												matchMode="contains"
												pTooltip="Options de filtrage">
									<ng-template pTemplate="filter"
												 let-filter="filterCallback"
												 let-value="$implicit">
										<input type="text" #valeur class="p-2 border"
											   (keydown)="controleDeSaisir($event)"
											   [value]="value"
											   maxlength="20"
											   pInputText
											   (input)="filter(valeur.value)">
									</ng-template>
								</p-columnFilter>
							</th>
							<th class="lageur-colonne">
								<p-columnFilter [showClearButton]="false"
												type="text"
												field="totalGainsSuperieur"
												matchMode="contains"
												pTooltip="Options de filtrage">
									<ng-template pTemplate="filter"
												 let-filter="filterCallback"
												 let-value="$implicit">
										<input type="text" #valeur
											   class="p-2 border"
											   (keydown)="controleDeSaisir($event)"
											   [value]="value"
											   maxlength="20"
											   pInputText
											   (input)="filter(valeur.value)">
									</ng-template>
								</p-columnFilter>
							</th>
						</tr>
						<tr [style]="{fontSize:'14px'}"
							*ngIf="bilanGains.length > 0 && total">
							<th>Total</th>
							<th class="text-right lageur-colonne"
								[style]="{color:'#2196F3'}">
								{{ total.nombreGainsSuperieur | nombre | replace: ',':' ' }}
							</th>
							<th class="text-right lageur-colonne"
								[style]="{color:'#f1749e'}">
								{{ total.totalGainsSuperieur | nombre | replace: ',':' ' }}
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body"
								 let-bilanGain>
						<tr [style]="{fontSize:'14px'}">
							<td class="text-left"
								[ngStyle]="{ 'max-width':'500px' }"
								[style]="{color:'#e77844'}">
								{{ bilanGain.staffCreatorGroupName }}
							</td>
							<td class="text-right lageur-colonne"
								[style]="{color:'#2196F3'}">
								{{ bilanGain.nombreGainsSuperieur| nombre | replace: ',':' ' }}
							</td>
							<td class="text-right lageur-colonne"
								[style]="{color:'#f1749e'}">
								{{ bilanGain.totalGainsSuperieur| nombre | replace: ',':' ' }}
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage">
						<tr>
							<td class="text-center" colspan="7">Pas de bilan sur cette période</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</div>
</div>
